name: iOS Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ios:
    runs-on: macos-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build iOS Frameworks
        run: |
          ./gradlew iosArm64ReleaseFramework
          ./gradlew iosSimulatorArm64ReleaseFramework

      - name: Upload iOS Frameworks
        uses: actions/upload-artifact@v4
        with:
          name: iOSFrameworks
          path: |
            build/bin/iosArm64/releaseFramework
            build/bin/iosSimulatorArm64/releaseFramework